<div class="utility"><div class="wrap">
  <a href="/de/corporate/jobs-und-karriere/karrierepfade.html">Jobs</a>
  <a href="/de/corporate/ueber-uns/kontakt.html">Kontakt</a>
  <a href="/de/corporate/medien-und-news.html">Medien</a>
  <a href="#" class="lang">DE</a><a href="/fr/corporate.html">FR</a><a href="/en/corporate.html">EN</a>
</div></div>
<nav class="nav" aria-label="Hauptnavigation"><div class="wrap">
  <a href="/de/corporate.html" class="logo" aria-label="Hirslanden Startseite"><img src="https://www.hirslanden.ch/content/dam/corporate/logos/hirslanden/hirslanden-logo.png" alt="Hirslanden"></a>
  <ul id="ds-nav-list">
    <li><a href="/de/corporate/ueber-uns/kontakt/healthline.html">Healthline</a></li>
    <li><a href="/de/corporate/kliniken-und-zentren/kliniken.html">Kliniken</a></li>
    <li><a href="/de/corporate/aerzte.html">Ärzte</a></li>
    <li><a href="/de/corporate/fachgebiete.html">Fachgebiete</a></li>
  </ul>
  <a href="/de/corporate/search.html" class="icon-search" aria-label="Suche">⌕</a>
  <button class="ds-nav-burger" type="button" aria-label="Menü" aria-controls="ds-nav-list" aria-expanded="false">☰</button>
</div></nav>
